body {
  padding: 0;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#stats-div {
  background-color: #ed00f0;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 0 15px ;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/river2.png);

  background-size: cover;
  animation: slide 120s linear infinite;
  border-radius: 5px;
}

@keyframes slide {
  0% {
    background-position: 0 -10000px;
  }

  100% {
    background-position: 0 5px;
  }
}

#game-end {
  display: none;
}

#game-end-victory {
  display: none;
}

#game-over-heading {
color: #ed00f0;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
  font-weight: bold;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #ed00f0;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}